$font-family-headings = "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei" // 标题，修改成你期望的字体族
$font-family-base = "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; // 修改成你期望的字体族
